{# JMeter load_test_hub JS bundle #}
{# version: 20260715ai-timer-cfg1 sha:0045ad1cbfd2 #}
    <script src="{{ url_for('static', filename='dist/jms-load-test/jms-load-test-a.js') }}?v=20260715cloud-toast1" defer></script>
    <script src="{{ url_for('static', filename='dist/jms-load-test/jms-load-test-b.js') }}?v=20260715ai-timer-cfg1" defer></script>
    <script src="{{ url_for('static', filename='js/jms_catalog_editor_schema_config_gui_v1.js') }}?v=20260715ai-timer-cfg1" defer></script>
    <script src="{{ url_for('static', filename='js/jms_catalog_editor_schema_official_gui_v1.js') }}?v=20260715ai-timer-cfg1" defer></script>
    <script src="{{ url_for('static', filename='js/jms_backend_listener_params_fidelity_v1.js') }}?v=20260715ai-timer-cfg1" defer></script>
